In [1]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
TVA = pd.read_excel('VraiTVA.xlsx')
ERA = pd.read_excel('VraiERA.xlsx')
jointure = pd.merge(ERA, TVA, on='BP', how='inner')
jointure.rename(columns={'Chiffre d’affaire (C.A)': 'ChAff'}, inplace=True)

In [3]:
jointure['featureChT'] =  jointure['ChAff']  - jointure['Total TVA anuelle']

In [4]:
def detect_fraud(row):
    if row['ChAff'] == 0 :
        return 'sus'
    elif abs(row['featureChT']) > 0.2 * row['ChAff']:
        return 'fraude'
    else:
        return 'bon'

jointure['Fraude'] = jointure.apply(detect_fraud, axis=1)

In [5]:
print(jointure.columns)

Index(['BP', 'Wilaya', 'Code CNRC', 'Code ONS', 'ChAff', 'Total TVA Janvier',
       'Total TVA Février', 'Total TVA Mars', 'Total TVA Avril',
       'Total TVA Mai', 'Total TVA Juin', 'Total TVA Juillet',
       'Total TVA Août', 'Total TVA Septembre', 'Total TVA Octobre',
       'Total TVA Novembre', 'Total TVA Décembre', 'Total TVA anuelle',
       'featureChT', 'Fraude'],
      dtype='object')

# AVEC LES TVA MENSUELLES EN MOINS

In [13]:
jointure = jointure.drop(columns = ['BP','Wilaya','Code CNRC', 'Code ONS', 'Total TVA Janvier',
      'Total TVA Février', 'Total TVA Mars', 'Total TVA Avril',
      'Total TVA Mai', 'Total TVA Juin', 'Total TVA Juillet',
      'Total TVA Août', 'Total TVA Septembre', 'Total TVA Octobre',
     'Total TVA Novembre', 'Total TVA Décembre',])

In [14]:
jointure

            ChAff  Total TVA anuelle    featureChT  Fraude
0               0       5.785956e+10 -5.785956e+10     sus
1        93115698       9.311570e+07  0.000000e+00     bon
2       155423274       1.554233e+08  0.000000e+00     bon
3      5798168362       5.809947e+09 -1.177863e+07     bon
4      2062602782       2.062370e+09  2.331380e+05     bon
...           ...                ...           ...     ...
1265            0       0.000000e+00  0.000000e+00     sus
1266            0       0.000000e+00  0.000000e+00     sus
1267            0       0.000000e+00  0.000000e+00     sus
1268            0       0.000000e+00  0.000000e+00     sus
1269  33908156303       0.000000e+00  3.390816e+10  fraude

[1270 rows x 4 columns]

In [15]:
number_of_frauds = (jointure['Fraude'] == 'fraude').sum()
print(number_of_frauds)

371

In [16]:
fraud_rows = jointure[jointure['Fraude'] == 'fraude']
print(fraud_rows)

            ChAff  Total TVA anuelle    featureChT  Fraude
7      6129403055       4.793089e+09  1.336314e+09  fraude
10       62244972       2.265251e+07  3.959246e+07  fraude
12     2896261006       0.000000e+00  2.896261e+09  fraude
13     5407931878       3.359298e+09  2.048634e+09  fraude
14      965698914       0.000000e+00  9.656989e+08  fraude
...           ...                ...           ...     ...
1253      6313461       3.034554e+06  3.278907e+06  fraude
1256    661123936       4.359331e+08  2.251908e+08  fraude
1258   4064552726       0.000000e+00  4.064553e+09  fraude
1263    140056307       0.000000e+00  1.400563e+08  fraude
1269  33908156303       0.000000e+00  3.390816e+10  fraude

[371 rows x 4 columns]

In [10]:
#def normalize(column):
 #   min_value = min(column)
  #  max_value = max(column)
   # return (column - min_value) / (max_value - min_value)

In [11]:
#def standardize(column):
 #   mean_value = column.mean()
  #  std_dev = column.std()
   # return (column - mean_value) / std_dev

In [12]:
# Supposons que 'ChAff', 'Total TVA annuelle', et 'featureChT' sont les colonnes à normaliser/standardiser
#jointure['ChAff_normalized'] = normalize(jointure['ChAff'])
#jointure['Total_TVA_annuelle_normalized'] = normalize(jointure['Total TVA anuelle'])
#jointure['featureChT_standardized'] = standardize(jointure['featureChT'])

In [17]:
jointure.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1270 entries, 0 to 1269
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ChAff              1270 non-null   int64
 1   Total TVA anuelle  1270 non-null   float64
 2   featureChT         1270 non-null   float64
 3   Fraude             1270 non-null   object
dtypes: float64(2), int64(1), object(1)
memory usage: 39.8+ KB

In [19]:
jointure.describe()

              ChAff  Total TVA anuelle    featureChT
count  1.270000e+03       1.270000e+03  1.270000e+03
mean   1.613973e+10       7.026205e+09  9.113522e+09
std    2.484699e+11       3.229656e+10  2.443089e+11
min    0.000000e+00       0.000000e+00 -2.023849e+11
25%    5.700834e+07       5.178133e+06 -2.000000e+00
50%    1.453872e+09       1.103656e+09  1.000000e+00
75%    5.447105e+09       4.695997e+09  1.948891e+08
max    8.454923e+12       6.820383e+11  8.453621e+12

In [20]:
X1 = jointure.iloc[:,0:3]

In [21]:
X2 = jointure.iloc[:,0:3]

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
scaleStandard = StandardScaler()

In [24]:
X1 = scaleStandard.fit_transform(X1)

In [30]:
X1 = pd.DataFrame(X1,columns = ['ChAff', 'Total TVA anuelle', 'featureChT'] )

In [31]:
X1

         ChAff  Total TVA anuelle  featureChT
0    -0.064982           1.574576   -0.274241
1    -0.064607          -0.214754   -0.037318
2    -0.064356          -0.212824   -0.037318
3    -0.041637          -0.037674   -0.037366
4    -0.056678          -0.153756   -0.037317
...        ...                ...         ...
1265 -0.064982          -0.217638   -0.037318
1266 -0.064982          -0.217638   -0.037318
1267 -0.064982          -0.217638   -0.037318
1268 -0.064982          -0.217638   -0.037318
1269  0.071540          -0.217638    0.101529

[1270 rows x 3 columns]

In [33]:
X1.describe().round(3)

          ChAff  Total TVA anuelle  featureChT
count  1270.000           1270.000    1270.000
mean     -0.000             -0.000       0.000
std       1.000              1.000       1.000
min      -0.065             -0.218      -0.866
25%      -0.065             -0.217      -0.037
50%      -0.059             -0.183      -0.037
75%      -0.043             -0.072      -0.037
max      33.976             20.909      34.578

In [38]:
from sklearn.preprocessing import MinMaxScaler

In [39]:
scaleMinMax = MinMaxScaler(feature_range=(0,1))

In [41]:
X2 = scaleMinMax.fit_transform(X2)

In [42]:
X2 = pd.DataFrame(X2,columns = ['ChAff', 'Total TVA anuelle', 'featureChT'])

In [43]:
X2.head()

      ChAff  Total TVA anuelle  featureChT
0  0.000000           0.084833    0.016697
1  0.000011           0.000137    0.023381
2  0.000018           0.000228    0.023381
3  0.000686           0.008519    0.023380
4  0.000244           0.003024    0.023381

In [47]:
X2.describe().round(3)

          ChAff  Total TVA anuelle  featureChT
count  1270.000           1270.000    1270.000
mean      0.002              0.010       0.024
std       0.029              0.047       0.028
min       0.000              0.000       0.000
25%       0.000              0.000       0.023
50%       0.000              0.002       0.023
75%       0.001              0.007       0.023
max       1.000              1.000       1.000

In [48]:
X1.describe().round(3)

          ChAff  Total TVA anuelle  featureChT
count  1270.000           1270.000    1270.000
mean     -0.000             -0.000       0.000
std       1.000              1.000       1.000
min      -0.065             -0.218      -0.866
25%      -0.065             -0.217      -0.037
50%      -0.059             -0.183      -0.037
75%      -0.043             -0.072      -0.037
max      33.976             20.909      34.578

In [ ]:

def euclidien_distance(x1, x2):
    np
    


class KNN:
    def __init__(self, k=3)
    self.k = k
    
    def fit(self, X, y):
    self.X_train = X
    self.y_train = y
    
    def predict(self, X):
    prediction = [self._predict(x) for x in X]
    return prediction
    
    def _predict(self, x):